#gallery {
	img {
		height: 20rem;
		width: 100%;	
		display: flex;
	}
		.view {
			img {
			  transition: transform .2s ease;
			  width:100%;
  			  height: 20rem;


			  &:hover {
			  	transform: scale(1.5);
			  	z-index: 1000;
			  }
		  }
	}

	.row {
		margin-top: 20px;
	}
}
