.intro {
    background: url("./assets/images/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    	button {
    		border: 1px solid gray;
    		margin-top: 200px;
    		color: white;
    		&:hover {
    		color: white;
    		}
    	}

}