nav {
	background-color: rgba(39, 52, 52, 0.24);

		.navbar-brand {
			font-family: 'Anton', sans-serif;
			font-size: 2rem;
				}

			.nav-link {
				font-family: 'Lily Script One', cursive;
			}
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (min-width: 401px) and (max-width: 960px) {
    .navbar:not(.top-nav-collapse) {
 
    }
  }
  @media only screen and (min-width: 961px) {
    .navbar:not(.top-nav-collapse) {

    }
  }
