.portfolio {

	overflow: hidden;
	line-height: 1;
	
	.prfl {
	    height: 30vh;
	    width: 30vh;
	    position: relative;
	    border-radius: 50%;
	    border: 1px solid yellow;
	    margin-left: 20px;
	}

	.text {
	    color: white;
	    margin-top: 130px;
	    margin-bottom: 20px auto;
	    margin-left: 20px;
	    display: inline-block;
	    span {
	    	color: yellow;
	    }
	}

	.card-deck {
		margin-top: 20px;
	}

}