nav {
  background-color: rgba(39, 52, 52, 0.24);
}
nav .navbar-brand {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
}
nav .nav-link {
  font-family: "Lily Script One", cursive;
}

.top-nav-collapse {
  background-color: #24355C;
}

.card-deck {
  height: 100%;
  color: black;
}
.card-deck img {
  height: 200px;
}

#gallery img {
  height: 20rem;
  width: 100%;
  display: flex;
}
#gallery .view img {
  transition: transform 0.2s ease;
  width: 100%;
  height: 20rem;
}
#gallery .view img:hover {
  transform: scale(1.5);
  z-index: 1000;
}
#gallery .row {
  margin-top: 20px;
}

.intro {
  background: url("./assets/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro button {
  border: 1px solid gray;
  margin-top: 200px;
  color: white;
}
.intro button:hover {
  color: white;
}

.portfolio {
  overflow: hidden;
  line-height: 1;
}
.portfolio .prfl {
  height: 30vh;
  width: 30vh;
  position: relative;
  border-radius: 50%;
  border: 1px solid yellow;
  margin-left: 20px;
}
.portfolio .text {
  color: white;
  margin-top: 130px;
  margin-bottom: 20px auto;
  margin-left: 20px;
  display: inline-block;
}
.portfolio .text span {
  color: yellow;
}
.portfolio .card-deck {
  margin-top: 20px;
}

html,
body,
header,
#intro {
  height: 100%;
  background-color: #1e1f24;
}

* {
  box-sizing: border-box;
}

section, footer {
  color: white;
}

/*# sourceMappingURL=style.css.map */
