@import './nav';
@import './card-deck';
@import './gallery';
@import './intro';
@import './portfolio';

html,
body,
header,
.intro {
    height: 100%;
    background-color: rgb(30,31,36);
}

* {
	box-sizing: border-box;

}

section, footer {
	color: white;
}









